<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebMidiPiano</title>

    <link rel="stylesheet" type="text/css" href="css/piano.css" />
    <link rel="stylesheet" type="text/css" href="css/piano-color.css" />

    <script src="js/webmidi.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>

<div id="app">

    <div v-if="errorMessage" class="error">{{ errorMessage }}</div>
    <div v-else-if="midiInput == null">Looking for an input MIDI device…</div>
    <div v-if="midiInput != null" class="settings">
        <label for="midi-input">Midi Input:</label>
        <select id="midi-input" v-model="selectedMidiInputId">
            <option v-for="input in WebMidi.inputs" :value="input.id" :key="input.id">{{ input.name }}</option>
        </select>

        <label for="nb-keys">Number of Keys:</label>
        <input type="number" id="nb-keys" v-model.number="nbKeys" min="1" max="128" @change="initKeyboard">

        <label for="transpose">Transpose:</label>
        <input type="number" id="transpose" v-model.number="transpose" min="-24" max="24">

        <label for="offset">Offset:</label>
        <input type="number" id="offset" v-model.number="offsetKeys" min="0" max="128">

        <label for="uniform">Uniform Keys:</label>
        <input type="checkbox" id="uniform" v-model.boolean="uniformKeys">
    </div>
    <div id="p-wrapper" v-bind:style="{width: width}">
        <ul id="piano">
            <li v-for="(key, index) in keys">
                <span v-if="isBlackKey(index)" class="key" :style="velocityCss(key.velocity)"></span>
                <div v-else class="key anchor" :style="velocityCss(key.velocity)"></div>
            </li>
        </ul>
    </div>
    <div class="credits">
        <a href="https://github.com/b-viguier/WebMidiPiano">WebMidiPiano</a>
        by
        <a href="https://twitter.com/b_viguier">@b_viguier</a>
        <br>
        <a href="https://github.com/b-viguier/WebMidiPiano/tree/master#faq">FAQ</a>
    </div>

    </div>
</div>

<script src="js/app.js"></script>

</body>
</html>