<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Midi Piano Color</title>

    <link rel="stylesheet" type="text/css" href="css/piano.css" />
    <link rel="stylesheet" type="text/css" href="css/piano-color.css" />

    <script src="js/webmidi.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>

<div id="app">

    <div v-if="errorMessage">{{ errorMessage }}</div>
    <div v-else-if="midiInput == null">Looking for an input MIDI device…</div>
    <div v-else>
        <div>
            <select v-model="selectedMidiInputId">
                <option v-for="input in WebMidi.inputs" :value="input.id">{{ input.name }}</option>
            </select>
        </div>
        <div id="p-wrapper">
            <ul id="piano">
                <li v-for="(key, index) in keys">
                    <span v-if="isBlackKey(index)" class="key" :style="velocityCss(key.velocity)"></span>
                    <div v-else class="key anchor" :style="velocityCss(key.velocity)"></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="js/app.js"></script>

</body>
</html>